<app-navbar></app-navbar>

<div class="container-fluid">

  <div class="profile">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia exercitationem corporis fugiat nisi illum minima quos accusamus? Placeat excepturi molestiae reiciendis itaque asperiores nam deleniti nihil ipsa. Praesentium, quam temporibus!</p>
  </div>
  <div class="contact row">
    <div class="col text-center">
      <a class="logo" href="https://github.com/NoelCordova">
        <i class="fab fa-github fa-3x"></i>
      </a>
    </div>
    <div class="col text-center">
      <a class="logo" href="https://twitter.com/_slingercode">
        <i class="fab fa-twitter fa-3x"></i>
      </a>
    </div>
    <div class="col text-center">
      <a class="logo" href="https://www.linkedin.com/in/enespinoc/">
        <i class="fab fa-linkedin fa-3x"></i>
      </a>
    </div>
    <div class="col text-center">
      <a class="logo" href="https://gitlab.com/NoelCordova">
        <i class="fab fa-gitlab fa-3x"></i>
      </a>
    </div>
  </div>

</div>